* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #002a26db;
    background-image: url('./images/backgroundlandscape.jpg');
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

header {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropDownButton {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border: none;
    font-size: 20px;
}

.dropDownButton>img {
    width: 100%;
    height: 100%;
}

.logo img {
    width: 50px;

}

.logo>h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 38px;
}

.navList {
    list-style: none;
    display: flex;
}

.navList1 {
    display: none;
}

ul li {
    margin-right: 20px;
}

.navLink {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.navLink::after {
    background-color: aquamarine;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-radius: 5px;
    height: 3px;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

.navLink:hover::after {
    width: 100%;
}

.homeContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.289);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.homeIntro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeIntro>h2 {
    margin: 10px 0px 15px 0px;
    font-size: 35px;

}

.homeIntro>h2>span {
    font-size: 60px;
    text-shadow: 0px 0px 10px aquamarine;
}

.homeIntro>p {
    margin-left: 5px;
    font-size: 17.5px;
    line-height: 25px;
    text-shadow: 0px 0px 20px #7fffd465;
    margin-top: 15px;
}

.featuresContainer {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.289);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.featuresContainer>h2 {
    margin: 15px 0px;
    font-size: 30px;
    text-shadow: 0px 0px 10px aquamarine;
    ;
}

.feature {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featureHome {
    display: flex;
    padding: 10px 10px;
    width: 400px;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 10px;
    border: 2px solid aquamarine;
    border-radius: 5px;

}

.featureInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    margin-left: 3px;
}

.featureInfo>h3 {
    font-size: 19px;
}

.featureInfo>p {
    margin-top: 4px;
    font-size: 12px;
}

.featureHome>img {
    width: 50px;
    height: 50px;
}

.loginForm,
.signUpForm {
    background-color: rgba(255, 255, 255, 0.289);
    backdrop-filter: blur(5px) saturate(200%);
    border-radius: 12px;
    width: 300px;
    height: auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-top: 150px;
}

.loginForm>form,
.signUpForm>form {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.loginHeader,
.signUpHeader {
    font-size: 30px;
    margin: 10px auto 0px auto;
    color: rgb(255, 255, 255);
}

.loginForm>hr,
.signUpForm>hr {
    width: 100%;
    border: 1px solid #7fffd4;
    margin: 15px auto 10px auto;
}

.loginForm>form>input,
.signUpForm>form>input {
    background: none;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #7fffd4;
}

.loginForm>form>input::placeholder,
.signUpForm>form>input::placeholder {
    color: white;
}

.loginForm>form>input:focus,
.signUpForm>form>input:focus {
    border: none;
}

.submitButtonLogin,
.submitButtonsignUp {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgba(127, 255, 212, 0.784);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.submitButtonLogin:hover,
.submitButtonsignUp:hover {
    background-color: aquamarine;
}

.submitButtonLogin:active,
.submitButtonsignUp:active {
    animation: clickAnimation 0.5s ease;
    /* Add 's' after 0.5 */
}

.alreadyAccount>a :hover {
    cursor: pointer;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.hospitalsBoard {
    background-color: rgba(0, 0, 0, 0.675);
    backdrop-filter: blur(15px) saturate(200%);
    width: 90%;
    height: auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
}

.cityHospitalHeading {
    margin: 30px 0px;

}

.hospital {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 20px 1px #7fffd484;
    border-radius: 20px 3px 20px 20px;
    margin-bottom: 30px;
}

.hospitalLogo {
    width: 150px;
    border-radius: 50%;
    padding: 0px 0px;
}

.hospitalDescription {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
}

.hospitalName {
    margin-bottom: 10px;

}

.hospitalintro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.hospitalInfo {
    margin-left: 20px;
    padding: 10px 0px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hospitalOptions {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.hospitalOptions :nth-child(1) {
    border-left: none;
}

.hospitalOptions :nth-child(4) {
    border-right: none;
}

.hospitalOptionButtons {
    width: 100%;
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    height: 30px;
    background: none;
    cursor: pointer;
}

.hospitalOptionButtons:hover {
    color: aquamarine;
}


.doctorStatusBoard {
    width: 80%;
    padding: 20px 10px;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    backdrop-filter: blur(10px) saturate(100%);

}

.doctorStatusBoard>h3 {
    margin-bottom: 10px;
    background-color: #0106058f;
    backdrop-filter: blur(8px) saturate(90%);
    width: auto;
    text-align: center;
    padding: 20px 20px;
    border-radius: 7px;
    text-shadow: 0px 0px 10px #7fffd4;
    font-size: 30px;
}

.doctor {
    margin: 15px 15px;
    width: auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0106058f;
    backdrop-filter: blur(8px) saturate(90%);
    border-radius: 2%;
}

.doctor>img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.doctorIntro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.doctorIntro>h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.doctorIntro>p {
    font-size: 15px;
    color: #7fffd4;
    margin-top: 3px;
    margin-bottom: 3px;
}

.doctorIntro>p>span {
    font-size: 15px;
}

.availability {
    margin-top: 10px;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.availability>p {
    color: #7fffd4;
}

.availabilityIndicator {
    width: 14px;
    height: 14px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgb(0, 255, 0);
    margin-right: 10px;
}

/*
DOCTOR PROFILE CSS
*/

.doctorProfileHeader {
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff71;
    backdrop-filter: blur(8px) saturate(200%);
    height: 170px;
    border-radius: 17px;
}

.doctorProfileInfo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.doctorProfileInfo>img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.doctorProfileInfo>p {
    font-size: 18px;
    margin-left: 20px;
}

.doctorProfileInfo>p>span {
    font-size: 25px;
    text-shadow: 0px 0px 10px aqua;
}

.doctorProfileOptions {
    padding: 50px 0px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.doctorProfileOptions>img {
    cursor: pointer;
    align-self: flex-start;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 5px aquamarine);
    border-radius: 100%;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.doctorProfileOptions>img:hover {
    transform: scale(1.2);
}

.doctorProfileOptions>img:active {
    transform: scale(1.5);
}


.controlBoard {
    margin-top: 10px;
    width: 100%;
    border-radius: 17px;
    max-width: 700px;
    background-color: #ffffff71;
    backdrop-filter: blur(8px) saturate(200%);
    display: flex;
    flex-direction: column;
}

.doctorStatus {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    flex-direction: row-reverse;
}


.doctorStatus>input[type="checkbox"] {
    width: 50px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #ff0000;
    box-shadow: 0px 0px 10px red;
    appearance: none;
    transition: all 0.5s ease-in-out;
}

.statusButton:checked[type="checkbox"] {
    background-color: #00ff00;
    box-shadow: 0px 0px 10px #00ff00;
}

.statusButton:before {
    content: '';
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0;
    transform: scale(1.2);
    background-color: #e8e8e8;
    transition: left 0.5s ease-in-out;
}

.statusButton:checked[type="checkbox"]:before {
    left: 32px;
}

.doctorStatus>p {
    margin-right: 20px;
}

.numberingSystem {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 5px;
    justify-content: space-evenly;
    flex-direction: column;
}

.numberingSystem>p {
    margin-bottom: 30px;
    font-size: 20px;

}

.numberContainer {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.numberContainer>button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.numberContainer>button>img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.nextNumberButton>img {
    rotate: 180deg;
}

.numberContainer>button>img:hover {
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
    cursor: pointer;
    transform: scale(1.2);
}

.tokenNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid aquamarine;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.currentNumber {
    transform: scale(1.8);
    text-shadow: 0px 0px 10px aquamarine;
    box-shadow: 0px 0px 10px aquamarine;
    right: 200px;
}

/* FOR PROFILE EDITING */

.editProfile {
    margin-top: 15px;
    width: 100%;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    background-color: #353535c1;
    backdrop-filter: blur(8px) saturate(200%);
    border-radius: 8px;
}

.headEditProfile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headEditProfile>h3 {
    font-size: 20px;
    padding-left: 20px;
}

.uploader {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 2px dashed #f7f7f7;
    width: 150px;
    height: 150px;
}

.image-preview {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.upload-button {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(249, 249, 249, 0.1);
    color: #fefefe3c;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
}

.upload-button:hover {
    background-color: rgba(240, 240, 240, 0.7);
    color: #ffffff;
}

.image-upload {
    display: none;
}

.inputFieldforEditingProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
}

.inputFieldforEditingProfile>label {
    font-size: 15px;
    margin-bottom: 3px;
}

.inputFieldforEditingProfile>input {
    width: 100%;
    border: none;
    height: 30px;
    padding: 10px;
    border-radius: 4px;
    color: #333;
}

.editingButtons {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileEditingButton {
    font-size: 16px;
    background-color: none;
    background: none;
    padding: 8px 20px;
    border-radius: 100px;

    transition: transform 0.1s ease-in-out, background-color 0.5s ease-in-out;
    cursor: pointer;
}

.resetButton {
    border: 2px solid #ff000094;
}

.resetButton:hover {
    color: #ffffff;
    background-color: #ff000094;
}

.resetButton:active {
    transform: scale(1.3);
}

.saveButton {
    border: 2px solid #00ff0094;
    background: none;
}

.saveButton:hover {
    background-color: #00ff0094;
    color: #fff;
}

.saveButton:active {
    transform: scale(1.3);
}

.affiliatedHospitalsEdit {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.341), inset 4px 4px 10px 1px rgba(0, 0, 0, 0.319);
}

.affiliatedHospitalsEdit>h2 {
    font-weight: 500;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid aquamarine;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.affiliatedHospitalEntry {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid aquamarine;
    border-radius: 20px;
    margin: 5px;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.affiliatedHospitalEntry:hover {
    box-shadow: 0px 0px 3px aquamarine;
    transform: scale(1);
}

.affiliatedHospitalEntry>h3 {
    font-size: 15px;
    font-weight: lighter;
}

.affiliatedHospitalEntry>img {
    width: 20px;
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.affiliatedHospitalEntry>img:hover {
    filter: drop-shadow(0px 0px 10px aquamarine);
    cursor: pointer;
    transform: scale(1.2);
}

.addHospital {
    box-shadow: 0px 0px 3px 0px aquamarine;
    cursor: pointer;
}

.addingHospital {
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px 18px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353535c1;
    backdrop-filter: blur(8px) saturate(200%);
}

.addingHospital>label {
    align-self: flex-start;
    margin-top: 30px;
}

.addingHospital>img {
    width: 20px;
    align-self: flex-end;
    transition: all 0.3 ease-in-out;
}

.addingHospital>img:hover,
.addingHospital>img:active {
    scale: 1.2;
}

.addingHospital>input {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0px;
    margin-bottom: 15px;
    background: none;
    background-color: #80ffd419;
    border: none;
    border-bottom: 2px solid aquamarine;
    font-size: 16px;
    cursor: text;
}

.addingHospital>input::placeholder {
    color: rgba(255, 255, 255, 0.579);
    font-size: 14px;
}

.addingHospital>input:focus {
    border: none;
}

.addingHospital>button {
    color: rgb(255, 255, 255);
    margin: 10px 0px;
    width: 100px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background: none;
    border: none;
    border: 2px solid aquamarine;
    border-radius: 20px;
    justify-self: center;
    font-weight: 500;
    transition: all 0.3 ease-in-out;
}

.addingHospital>button:hover,
.addingHospital>button:active {
    background-color: #80ffd419;
    scale: 1.05;
}

@media (max-width: 600px) {
    body {
        background-image: url('./images/backgroundportrait.jpg');
        background-size: cover;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .doctorProfileHeader {
        border-radius: 0;
        padding: 10px 7px;
    }

    .controlBoard {
        border-radius: 0;
    }

    .dropDownButton {
        display: inline-block;

    }

    .dropDownButton:hover {
        cursor: pointer;
    }

    .navList {
        display: none;

    }

    .navList1 {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .navList1>li {
        background-color: #24242481;
        margin: 0;
        padding: 5px;
        width: 100%;
        text-align: center;
        font-size: 17px;
    }

    .navList.show {
        display: flex;
    }

    ul li {
        margin: 10px 20px;
    }

    .featureHome {
        width: 100%;
    }

    .doctorStatusBoard>h3 {
        font-size: 24px;
    }
}